{% extends "base.html" %}
{% load static %}
{% block page_title %}
  - Your Trolley
{% endblock page_title %}
{% block content %}
  <div class="container my-3">
    <div class="row">
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <p class="h2">Summary</p>
            <p>Total items: {{ product_count }}</p>
            <p>Total: £{{ grand_total }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="card">
          <div class="card-body">
            <p class="h2">Your Trolley</p>
            {% if trolley_items %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in trolley_items %}
                    <tr>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>£{{ item.product.price }}</td>
                      <td>£{{ item.product_total }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="3" class="text-end">
                      <strong>Delivery:</strong>
                    </td>
                    <td>
                      <strong>£{{ delivery }}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-end">
                      <strong>Grand Total:</strong>
                    </td>
                    <td>
                      <strong>£{{ grand_total }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-end">
                <a class="btn btn-primary" href="#">Proceed to Checkout</a>
              </div>
            {% else %}
              <p>Your trolley is currently empty.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
