{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Login to Pixel Shop</h2>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-6 mb-3">
          {{ form.login.label_tag }}
          {{ form.login }}
        </div>
        {% comment %} <div class="col-6 mb-3">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="col-6 mb-3">
          {{ form.email.label_tag }}
          {{ form.email }}
          <div class="form-text">We'll never share your email with anyone else.</div>
        </div> {% endcomment %}
        <div class="col-6 mb-3">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">
      Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a>
    </p>
  </div>
{% endblock content %}
