{% extends "base.html" %}
{% block page_title %}
  - Logout
{% endblock page_title %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <p class="h2 mb-4">Sign Out</p>
        <p>Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <div class="text-end">
            <button type="submit" class="btn btn-primary me-2 fw-bold">
              <i class="fa-solid fa-right-from-bracket me-2"></i>Sign Out
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary fw-bold"><i class="fas fa-times me-2"></i>Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
