@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colour Palette */
  --color-primary: hsl(230, 13%, 21%);
  --color-secondary: hsl(123, 39%, 49%);
  --color-secondary-hover: hsl(123, 39%, 69%);
  --color-accent: hsl(30, 100%, 50%);
  --color-accent-hover: hsl(30, 100%, 70%);
  --color-accent-secondary: hsl(207, 90%, 54%);
  --color-page-background: hsl(0, 0%, 86%);
  --color-background: hsl(0, 0%, 100%);

  /* Font Families */
  --font-logo: "Audiowide", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Roboto", sans-serif;
}

/* General Styling */

body {
  background-color: var(--color-page-background);
  font-family: var(--font-body);
}

.logo {
  font-family: var(--font-logo);
}

.heading {
  font-family: var(--font-heading);
  letter-spacing: 1px;
}

input[type="search"] {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.btn-primary {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-primary);
  }
}

.btn-secondary {
  background-color: var(--color-accent);
  border: none;
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-primary);
  }
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */

nav {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.navbar-toggler {
  color: var(--color-background);
}

i {
  width: 20px;
  text-align: center;
  line-height: 1;
}
.nav-link {
  color: var(--color-background);
  &:hover {
    color: var(--color-accent);
  }
}

.active {
  color: var(--color-secondary) !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* Hero Section */
.hero {
  height: 50vh;
  background: url("/static/images/hero-bg.jpeg") center/cover no-repeat;
  position: relative;
  color: var(--color-background);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero .container {
  position: relative;
  z-index: 2;
}

/* Footer */
footer {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 2rem 0;
}

footer .footer-list li,
footer .footer-list li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-background);
}

footer .footer-list li {
  margin-bottom: 0.5rem;
}
