<footer class="mt-auto py-4">
  <div class="container">
    <div class="row">
      <!-- Social Links -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <ul class="list-unstyled footer-list">
          <li class="h4 heading fw-bold mb-3">Follow Us</li>
          <li>
            <a href="#"><i class="fab fa-facebook-f fa-fw"></i><span>Facebook</span></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram fa-fw"></i><span>Instagram</span></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube fa-fw"></i><span>YouTube</span></a>
          </li>
        </ul>
      </div>
      <!-- Contact Info -->
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <ul class="list-unstyled footer-list">
          <li class="h4 heading fw-bold mb-3">Where We Are</li>
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i><span>123 Street Name, London</span>
          </li>
          <li class="h4 fw-bold mb-3 mt-3">Contact Us</li>
          <li>
            <i class="fas fa-phone fa-fw"></i><span>+44 1234 567890</span>
          </li>
          <li>
            <i class="fas fa-envelope fa-fw"></i><span>info@pixelshop.com</span>
          </li>
        </ul>
      </div>
      <!-- Contact Form -->
      <div class="col-12 col-lg-4">
        <p class="h4 heading fw-bold">Leave a message</p>
        <p class="d-flex align-items-center">
          <i class="fas fa-comments fa-fw me-2"></i><span>We'd love to hear from you!</span>
        </p>
        <form action="#">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-12 mb-3">
              <label for="messageName" class="form-label">Name</label>
              <input type="text"
                     class="form-control"
                     id="messageName"
                     placeholder="Your name">
            </div>
            <div class="col-12 col-sm-6 col-lg-12 mb-3">
              <label for="messageEmail" class="form-label">Email address</label>
              <input type="email"
                     class="form-control"
                     id="messageEmail"
                     placeholder="Your email">
            </div>
          </div>
          <div class="mb-3">
            <label for="messageFooter" class="form-label">Message</label>
            <textarea class="form-control" id="messageFooter" rows="3"></textarea>
          </div>
          <div class="text-end">
            <button class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
      <div class="col-12">
        <hr class="mt-4 mb-3">
        <p class="text-center mb-0">Rafael Ferreira © {% now "Y" %} Pixel Shop. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
