<div class="collapse d-lg-block"
     id="filterSidebar"
     hx-target="#product_list"
     hx-swap="outerHTML"
     hx-include="#filter_form">
  <form id="filter_form" method="post" class="mt-2">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="fw-bold"><i class="fas fa-gamepad me-2"></i>Systems</span>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="super_nintendo"
               name="category"
               value="super_nintendo"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="super_nintendo">Super Nintendo</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="nintendo_64"
               name="category"
               value="nintendo_64"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="nintendo_64">Nintendo 64</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="game_cube"
               name="category"
               value="game_cube"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="game_cube">GameCube</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="wii"
               name="category"
               value="wii"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="wii">Wii</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="wii_u"
               name="category"
               value="wii-U"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="wii_u">Wii U</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="nintendo_switch"
               name="category"
               value="nintendo_switch"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="nintendo_switch">Nintendo Switch</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="nintendo_switch_2"
               name="category"
               value="nintendo_switch2"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="nintendo_switch_2">Nintendo Switch 2</label>
      </li>
      <li class="list-group-item">
        <span class="fw-bold"><i class="fas fa-toolbox me-2"></i>Others</span>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="game"
               name="category"
               value="game"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="game">Game</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="accessory"
               name="category"
               value="accessory"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="accessory">Accessories</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="amiibo"
               name="category"
               value="amiibo"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="amiibo">Amiibo</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox"
               class="form-check-input me-1"
               id="console"
               name="category"
               value="console"
               hx-trigger="change"
               hx-get="{% url 'products_list' %}">
        <label class="form-check-label stretched-link" for="console">Console</label>
      </li>
    </ul>
  </form>
</div>
