{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row my-2">
      <div class="col-12 col-lg-4">
        {% if product.image %}
          <img src="{{ product.image.url }}"
               class="img-fluid rounded shadow"
               alt="{{ product.name }}">
        {% endif %}
      </div>
      <div class="col-12 col-lg-8">
        <div class="card-body">
          <p class="h2 card-title my-2">{{ product.name }}</p>
          <p>{{ product.description|linebreaks }}</p>
          <p>
            Do you have a question about this product? <a href="{% url 'contact' %}" class="text-decoration-none">Contact us</a>
          </p>
          <div class="row my-2">
            <div class="col-6">
              <p>
                <strong>Categories:</strong>
                {% for category in product.categories.all %}
                  <span class="badge bg-secondary">{{ category.name }}</span>
                {% empty %}
                  <span class="badge bg-secondary">No category</span>
                {% endfor %}
              </p>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-end">
                <p class="display-6">£{{ product.price }}</p>
              </div>
            </div>
            <div class="col-12">
              <form action="{% url 'add_to_trolley' product.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-6 col-xl-4">
                    <div class="input-group mb-3">
                      <button class="btn btn-primary fw-bold" type="button" id="quantity_minus">-</button>
                      <input class="form-control"
                             type="number"
                             name="quantity"
                             value="1"
                             min="1"
                             max="99"
                             data-item-id="{{ product.id }}"
                             id="id_qty_{{ product.id }}">
                      <button class="btn btn-primary fw-bold" type="button" id="quantity_plus">+</button>
                    </div>
                  </div>
                  <div class="col-6 col-md-8 col-lg-6 col-xl-8">
                    <div class="d-flex justify-content-end">
                      <input type="submit" value="Add to trolley" class="btn btn-primary fw-bold">
                    </div>
                  </div>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </form>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-end">
                <a href="{% url 'products_list' %}"
                   class="btn btn-secondary fw-bold mb-3">Back to Products</a>
              </div>
            </div>
            <div class="col-12">
              {% if user.is_authenticated and user.is_staff %}
                <div class="d-flex justify-content-end">
                  <a class="btn btn-outline-secondary fw-bold">Edit</a>
                  <a class="btn btn-outline-danger fw-bold ms-2">Delete</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
